<div class="card-component">

    <div class="card-component__header">
        <div class="card-component__header--logo" style="height: 100%;">
            <img src="../../../assets/icons/icon-credit-card.png" style="max-height: 90%;" alt="">

            <h2>Cartão de crédito</h2>
        </div>
    </div>

    <div class="card-component__content">
        <div class="card-component__content--info">
            <app-card-item
                ItemTittle="Arthur"
                ItemValue="MASTER CARD"
            ></app-card-item>

            
            <app-card-item
                ItemTittle="Limite de Compra"
                ItemValue="R$ 200.00"
            ></app-card-item>

            <app-card-item
                ItemTittle="Disponível"
                ItemValue="R$ 300.00"
            ></app-card-item>

            <app-card-item
                ItemTittle="Limite de Saque"
                ItemValue="R$ 300.00"
            ></app-card-item>
           

            <app-card-item
                ItemTittle="Limite total utilizado"
                ItemValue="R$ 400.00"
            ></app-card-item>
                       


        </div>
    </div>

</div>