<div class="card-component">

    <app-card-header  color="aqua">
        <div class="card-component__header--logo" style="height: 100%;">
            

            <app-card-tittle
                tittle="Informações pessoais"
                icon="icon-client.png"
            ></app-card-tittle>
        </div>

    </app-card-header>



    <app-card-content>

        <div class="card-component__content--info">
            <app-card-item
                ItemTittle="Nome"
                ItemValue="Arthur Henrique de Souza"
            ></app-card-item>

            <app-item-line></app-item-line>

            <app-card-item
                ItemTittle="Idade"
                ItemValue="18"
            ></app-card-item>

            <app-item-line></app-item-line>

            <app-card-item
                ItemTittle="Renda mensal"
                ItemValue="R$ 3200.00"
            ></app-card-item>
        

        </div>
    </app-card-content>

   

</div>