<div class="card-component">
    <div class="card-component__header">
        <div class="card-component__header--logo" style="height: 100%;">
           
            <app-card-tittle
                tittle="Saldos Disponíveis"
                icon="icon-hand.png"
            ></app-card-tittle>


        </div>


        <h3>R$ 100.00</h3>
        
    </div>

    <div class="card-component__content">
        <div class="card-component__content--info">

            <app-card-item
                ItemTittle="Conta Corrente"
                ItemValue="R$ 100.00"
            ></app-card-item>


            <app-card-item
                ItemTittle="Conta Corrente Saldo Vinculados"
                ItemValue="R$ 200.00"
            ></app-card-item>


            <app-card-item
                ItemTittle="Conta Poupança Saldo Vinculados"
                ItemValue="R$ 300.00"
            ></app-card-item>

            <app-card-item
                ItemTittle="Investimentos com Baixa Automática"
                ItemValue="R$ 300.00"
            ></app-card-item>

            <app-card-item
                ItemTittle="Investimentos sem Baixa Automática"
                ItemValue="R$ 300.00"
            ></app-card-item>
           


            <div class= "subtotal">

                <div 
                class="row-total"
                RowHighlighted
                >
                    <h4>SALDO TOTAL</h4>
                    <h4>R$ 1000.00</h4>
                </div>

                <div 
                class="row-total"
                RowHighlighted
                >
                    <h4>LIVRE PARA MOVIMENTAÇÃO</h4>
                    <h4>R$ 1000.00</h4>
                </div>



            </div>


        </div>
    </div>

</div>