<app-card>

    <app-card-header>
        <div class="card-component__header--logo" style="height: 100%;">
          
            <app-card-tittle
                tittle="Cartão de crédito"
                icon="icon-credit-card.png"
            ></app-card-tittle>

        </div>
    </app-card-header>

    <app-card-content>
        <div class="card-component__content--info">
            <app-card-item
                ItemTittle="Arthur"
                ItemValue="MASTER CARD"
            ></app-card-item>
            <app-item-line></app-item-line>
            
            <app-card-item
                ItemTittle="Limite de Compra"
                ItemValue="R$ 200.00"
            ></app-card-item>

            <app-item-line></app-item-line>

            <app-card-item
                ItemTittle="Disponível"
                ItemValue="R$ 300.00"
            ></app-card-item>

            <app-item-line></app-item-line>

            <app-card-item
                ItemTittle="Limite de Saque"
                ItemValue="R$ 300.00"
            ></app-card-item>
           
            <app-item-line></app-item-line>

            <app-card-item
                ItemTittle="Limite total utilizado"
                ItemValue="R$ 400.00"
            ></app-card-item>
                       


        </div>
    </app-card-content>

</app-card>