<div class="client-infos-card">

    <div class="header-item">
        <div class="logo-header" style="height: 100%;">
            <img src="../../assets/icons/icon-client.png" style="max-height: 90%;" alt="">

            <h2>Informações do cliente</h2>
        </div>
    </div>

    <div class="content-item">
        <div class="info-content">
            <div class="row-info">
                <h4>Nome</h4>
                <h4>Arthur Henrique de Souza</h4>
            </div>

            <div class="row-info">
                <h4>Idade</h4>
                <h4>18</h4>
            </div>

            <div class="row-info">
                <h4>Renda mensal</h4>
                <h4>R$ 3200.00</h4>
            </div>


        </div>
    </div>

   

</div>
